@if (resumen == null) {
    <div>
        Busque un instrumento
    </div>
}@else {
    <div>
        <div class="w-full bg-green-700 border-l-4 rounded-tl-xl">
            <div class="p-4">
                <h1>{{resumen.info.codeInstrument}}</h1>
                <h3>{{resumen.info.countryName}}</h3>
            </div>
        </div>
        <div #indices class="inline-flex gap-2 border-l-4 border-l-slate-800 p-2">
            <app-indices-header [precios]="resumen.price"></app-indices-header>
        </div>
    </div>
}
