<div class="m-[2em]">
    <app-search-bar-component></app-search-bar-component>
    <div class="grid grid-cols-2 border-2 border-gray-700 p-[1em] my-2">
        <div class="w-[20em]">
            <app-header-component></app-header-component>
            <app-chart-component></app-chart-component>
        </div>
        <div class="w-[4em]">
            <app-summary-component></app-summary-component>
        </div>
    </div>

    <section>
        <app-tab-component></app-tab-component>
        <app-instrument-list-component></app-instrument-list-component>
    </section>
</div>